* {
  font-family: Arial, Helvetica, sans-serif;
}

.nav-bar {
    padding: 0px;
  
  /* height: 60px; */
}
.btn-scrol {
  margin: 10px;
  
}
.brand-logo {
  margin: 10px;
  margin-left: 20px;
}
.div-text {
  padding: 20px;
  border-radius: 10px;
}
h1 {
  text-shadow: 1px 1px 3px black;
  font-weight: bold;
}
h2 {
  text-shadow: 1px 1px 3px white;
  font-weight: bold;
}
.div-row{
  padding: 20px;
}
